*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Inter;
}
.container{
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    display: flex;
}
header{
    height: 120px;
    border-bottom: 2px solid rgba(222, 219, 219, 1);
}
.language{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.h1{
    padding-bottom: 10px;
    font-size: 36px;
    font-weight: 700;
    font-family: Inter;
    line-height: 43.57px;
}
.hero{
    width: 650px;
    height: 785px;
    border-radius: 50px;
    border: 1px solid rgba(222, 219, 219, 1);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.offerta{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.h2{
    color: rgba(240, 64, 15, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
}
.cottainer{
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 66px;
    display: flex;
}
.space{
    font-size: 48px;
    font-weight: 700;
    line-height: 58.09px;
    color: rgba(14, 13, 93, 1);
    text-align: center;
    padding-top: 120px;
}
.parent{
    width: 533px;
    height: 70px;
    display: flex;
    gap: 42px;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 20px;
    margin: auto;
    margin-top: 45px;
}
.otaona{
    width: 255px;
    height: 54px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    margin-left: 11px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.otaonaman{
    font-size: 28px;
    font-weight: 500;
    line-height: 100%;
}
.oquvchi{
    display: flex;
    justify-content: center;
    align-items: center;
}
.oquvchiman{
    font-size: 28px;
    font-weight: 500;
    line-height: 100%;
    color: rgba(117, 117, 117, 1);
    padding-bottom: 18px;
    padding-top: 17px;
}
input{
    width: 533px;
    height: 70px;
    background-color: rgba(250, 250, 250, 1);
    border: 1px solid rgba(117, 117, 117, 0.19);
    border-radius: 20px;
    margin-top: 39px;
    margin-left: 60px;
}
input::placeholder{
    font-size: 24px;
    line-height: 100%;
    font-weight: 500;
    color: rgba(117, 117, 117, 0.7);
    padding-left: 51px;
    padding-top: 20px;
    padding-bottom: 21px;
}
h2{
    font-size: 24px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.64);
    line-height: 100%;
    padding-left: 213px;
    padding-right: 190px;
    padding-top: 20px;
}
button{
    width: 202px;
    height: 67px;
    background-color: rgba(246, 158, 134, 1);
    border: none;
    border-radius: 20px;
    margin-left: 390px;
    margin-top: 31px;
    font-size: 24px;
    line-height: 100%;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}
button:hover{
    background-color: rgba(240, 64, 15, 1);
}
input:hover{
    border: 1px solid rgba(240, 64, 15, 1);
    
}